#table-wrapper {
    position:relative;
}
#table-scroll  {
    height:250px;
    overflow-y:scroll;
    margin-top:20px;
}

#table-wrapper table {
    width:100%;

}
#table-wrapper tbody * {
    background:yellow;
    color:black;
}
#table-wrapper table text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}


#table-header thead{
    background-color: #0086b3 !important;
    position: fixed !important;;
}